h2 {
	padding: 0rem;
	margin: 0;
	margin-bottom: 2rem;
	text-align: center;
	/* margin-bottom: 1.5rem; */
}

.categoriescontainer {
	display: grid;
	justify-items: center;
	row-gap: 0rem;
	align-items: center;
	grid-template-columns: repeat(2, 12fr);
	grid-template-rows: repeat(2, 12rem);
	padding: 0.5rem;
}
.categories {
	background-color: #bbdbbc;
	border-bottom: 0.15rem solid #1f7a22;
}
