.resetPassword {
	border: none;
	background-color: transparent;
	color: blue;
	box-shadow: none;
	font-weight: 500;
	font-size: 1.2rem;
	text-decoration: none;
}

.btns {
	margin-top: 2rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.input {
	font-size: 1rem;
	width: 100%;
	margin-bottom: 2rem;
}

.paragraph {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.submitBtn {
	justify-self: center;
}
