.resetPassword {
	border: none;
	background-color: transparent;
	color: blue;
	box-shadow: none;
	font-weight: 500;
	font-size: 1.2rem;
	text-decoration: underline;
}

.button {
	background-color: white;
	color: var(--text-color);
	border: 2px solid rgb(207, 207, 207);
	box-shadow: 0rem 0.1rem 0.5rem rgb(204, 203, 203);
}

.btns {
	margin-top: 2rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.input {
	font-size: 1rem;
	width: 100%;
	margin-bottom: 2rem;
}

.paragraph {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.submitBtn {
	justify-self: center;
}
