.adminTable {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1rem;
}

.adminTable tr {
	text-align: center;
}
.titleLine {
	margin-bottom: 1rem;
}
.title {
	font-size: 1.3rem;
}

.addBtn {
	font-size: 1rem;
}
