.imgSlider {
	margin-bottom: 10rem;
}

.ImgDragSlider {
	border: 3px solid lightgray;
}

.title {
	align-self: flex-start;
	width: 100%;
}

.name {
	font-size: 1.5rem;
}

.titleAndReviews {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 0.5rem;
}

.reviewStars {
	font-size: 1rem;
}

.reviewStarsContainer {
	display: flex;
	list-style: none;
	gap: 2px;
	margin: 0;
	padding: 0;
}

.subtitle {
	font-weight: 400;
	font-size: 1rem;
	align-self: flex-start;
	text-align: left;
}

.productsContainer {
	list-style: none;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(2, 48%);
	column-gap: 0.25rem;
	row-gap: 2rem;
	justify-content: space-between;
	padding: 0;
	box-sizing: border-box;
	margin-bottom: 0.5rem;
}
.product {
	width: 100%;
	height: 10rem;
}
.coverImg {
	width: 100%;
	border-radius: 0;
	height: 12rem;
}

.moreBtn {
	align-self: flex-end;
	font-size: 1rem;
}

.showLessBtn {
	background-color: transparent;
	color: blue;
	border: none;
	text-decoration: underline;
	font-weight: 500;
	box-shadow: none;
	align-self: flex-end;
	font-size: 1.2rem;
}

.firstBtn {
	margin-top: 1rem;
}

.productWarning {
	width: 100%;
}

@media (min-width: 525px) {
	.productsContainer {
		width: 70%;
		max-width: 40rem;
		gap: 1rem;
	}
	.moreBtn {
		margin-right: 5rem;
	}
	.sellerContainer {
		width: calc(100vw - 12rem);
		max-width: 48rem;
	}
}

@media (min-width: 1025px) {
	.productsContainer {
		max-width: 50rem;
		width: 80%;
		gap: 1.5rem;
		margin-top: 3rem;
	}
	.moreBtn {
		margin-right: 10rem;
		margin-bottom: 3rem;
	}
	.name {
		font-size: 3rem;
	}
	.subtitle {
		font-weight: 400;
		font-size: 1.75rem;
		align-self: flex-start;
		text-align: left;
	}
	.sellerContainer {
		width: calc(100vw - 12rem);
		max-width: 55rem;
	}
	.firstBtn {
		margin-top: 3rem;
	}
}
