.title {
	margin-bottom: 2rem;
}

.listOfBtns {
	align-self: flex-start;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.listItem:last-child {
	border-bottom: 3px solid var(--grey-color);
}

.listItem {
	width: 100%;
	display: flex;
	border-top: 3px solid var(--grey-color);
}
.link {
	width: 100%;
}
.adminButton {
	background-color: transparent;
	border: none;
	box-shadow: none;
	color: var(--text-color);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.1rem 2.2rem;
	margin: 0;
	border-radius: 0;
}

.adminButtonTitle {
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--text-color);
}
