<ul style="list-style: none;">
  <li>
    <a href="">
      <h3>Clay Gibson</h3>
    </a>
  </li>
  <li>
    <a href="">
      <h3>Clay Gibson</h3>
    </a>
  </li>
  <li>
    <a href="">
      <h3>Clay Gibson</h3>
    </a>
  </li>
  <li>
    <a href="">
      <h3>Clay Gibson</h3>
    </a>
  </li>
  <li>
    <a href="">
      <h3>Clay Gibson</h3>
    </a>
  </li>
  <li>
    <a href="">
      <h3>Clay Gibson</h3>
    </a>
  </li>
  <li>
    <a href="">
      <h3>Clay Gibson</h3>
    </a>
  </li>
  <li>
    <a href="">
      <h3>Clay Gibson</h3>
    </a>
  </li>
  <li>
    <a href="">
      <h3>Clay Gibson</h3>
    </a>
  </li>
  <li>
    <a href="">
      <h3>Clay Gibson</h3>
    </a>
  </li>
</ul>