.header {
	/* searchbar */
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	gap: 0.5rem;
	height: 4rem;
	padding: 0 1rem;
	background-color: var(--main-color);
	z-index: 999;
	border-bottom: 2px solid #194710;
}

.header.headerSearch {
	justify-content: center;
}

.searchBox {
	width: 9rem;
	height: 2rem;
	border-radius: 1rem;
	border: none;
	padding: 0.5rem 0.5rem;
	width: 70%;

	max-width: 30rem;

	font-size: 1.5rem;
	background-color: white;
}

.searchBox:focus {
	box-sizing: content-box;
	border: 0.15rem solid #19271d;
	background-color: #dbecdc;
	outline: none;
}

.icon {
	width: 2.2rem;
	height: 2.2rem;
	color: white;
}
