.ordersContainer {
	/* background-color: red; */
	width: 100%;
	outline: 3px solid rgb(163, 163, 163);
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-radius: 7px;
}

.title {
	font-weight: 500;
	font-size: 1.4rem;
	width: 100%;
	background-color: lightgray;
	padding: 0.5rem 0.25rem;
}

.noOrder {
	color: red;
	padding-left: 0.5rem;
	font-weight: 500;
}
