.ordersContainer {
	/* background-color: red; */
	width: 100%;
	outline: 3px solid rgb(163, 163, 163);
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-radius: 7px;
}

.title {
	font-weight: 500;
	font-size: 1.4rem;
	width: 100%;
	background-color: lightgray;
	padding: 0.5rem 0.25rem;
}

.noOrder {
	color: red;
	padding-left: 0.5rem;
	font-weight: 500;
}

.table {
	width: 100%;
	border-collapse: collapse;
}
.tbody {
	width: 100%;
}

.tbody tr:nth-child(odd) {
	background-color: rgb(163, 163, 163);
}

.tbody tr td {
	font-size: 1.25rem;
	padding: 0.5rem 0.95rem;
	width: fit-content;
}

.tbody tr td:nth-child(2) {
	text-align: right;
	font-weight: 500;
}
