.productContainer {
	width: 48vw;
}

.productImg {
	width: 100%;
	border-radius: 0;
	height: 12rem;
}
.title {
	text-align: left;
	margin-bottom: 0.5rem;
}

.priceContainer {
	display: flex;
	justify-content: space-between;
}

.price {
	padding: 0;
	font-size: 2rem;
}

.unit {
	padding: 0;
}
.stars {
	list-style: none;
	display: flex;
	gap: 5px;
	padding: 0;
	margin: 0;
}

.reviewAndQty {
	text-align: right;
	display: flex;
	flex-direction: column;
	gap: 0;
	padding: 0;
	margin: 0;
	line-height: 1;
}
