.map {
	height: 55vh;
	width: 100%;
}

.popup {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	text-decoration: underline;
}

.popup h4 {
	margin: 0;

	padding: 0;
}
.popup p {
	margin: 0;
	padding: 0;
}

@media (min-width: 1025px) {
	.map {
		height: 30rem;
	}
}
