@import url(https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;700&family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap);
/* @import url(https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400&display=swap); */

:root {
	--light-color: #ffffff;
	/* #f6f4ef */
	--main-color: #38690d;
	/* #4e7741 */
	--secondary-color: #1e4709;
	/* #395d2d */
	--text-color: rgb(56, 56, 56);
	--grey-color: rgb(174, 171, 171);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(227, 224, 218);
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', sans-serif;
}

h1,
h2,
h3,
p {
	padding: 0;
	margin: 0;
	color: var(--text-color);
}

h1,
h2 {
	font-family: 'Alegreya', serif;
	letter-spacing: 0.075rem;
}

p {
	font-size: 1rem;
}

button {
	padding: 0.6rem 1rem;
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
	width: 100%;
	max-width: 500px;
	color: white;
	background-color: var(--main-color);
	border: none;
	border-radius: 10rem;
	font-weight: 600;
	box-shadow: 0rem 0rem 0.1rem rgba(28, 28, 28, 0.514);
	font-family: 'Alegreya Sans', sans-serif;
}
button:hover {
	cursor: pointer;
}

button:active {
	transform: scale(1.05);
}

button.buttonOutline {
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	background-color: transparent;
	background-color: white;
	color: var(--text-color);
	border: 1px solid rgb(207, 207, 207);
}

.wide {
	width: 100%;
	display: flex;
	justify-content: center;
}
button.buttonRound {
	border-radius: 100%;
}

section {
	width: 100%;
}

input {
	border-radius: 12px;
	border: 3px solid var(--grey-color);
	padding: 0.25rem 0.25rem 0.25rem 0.5rem;
}

a,
a:visited {
	text-decoration: none;
	color: var(--text-color);
}

ul {
	list-style: none;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
main {
	margin-top: 9rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--light-color);
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	width: 100vw;
	max-width: 750px;
	padding: 0.75rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-content: flex-start;
	align-items: center;
	background-color: var(--light-color);
	box-shadow: 0rem 0rem 0.75rem 0.2rem rgba(0, 0, 0, 0.1);
	min-height: calc(100dvh - 9rem);
	padding-bottom: 4rem;
}

.card {
	border-radius: 0.5rem;
	overflow: hidden;
	box-shadow: 0rem 0rem 0.75rem 0.2rem rgba(0, 0, 0, 0.185);
}

.wide {
	width: 100%;
}
a {
	color: blue;
}

@media (min-width: 1025px) {
	.container {
		width: calc(100vw - 12rem);
		min-height: calc(100dvh - 6rem);
		max-width: 950px;
		padding: 2rem;
	}
	main {
		margin-top: 6rem;
		padding-bottom: 0;
	}
}
