@import url(https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400&display=swap);

:root {
	--light-color: #f6f4ef;
	--main-color: #4e7741;
	--secondary-color: #395d2d;
	--text-color: rgb(0, 0, 0);
	--grey-color: rgb(174, 174, 171);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--light-color);
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: 'Cantarell', sans-serif;
}

h1,
h2,
h3,
p {
	padding: 0;
	margin: 0;
	color: var(--text-color);
}

p {
	font-size: 1rem;
}

button {
	padding: 0.6rem 1rem;
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
	width: 100%;
	max-width: 500px;
	color: white;
	background-color: var(--main-color);
	border: none;
	border-radius: 12px;
	font-weight: 600;
	box-shadow: 0rem 0rem 0.3rem rgba(28, 28, 28, 0.545);
}
button:hover {
	cursor: pointer;
}

button:active {
	transform: scale(1.05);
}

button.buttonOutline {
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	background-color: transparent;
	background-color: white;
	color: var(--text-color);
	border: 2px solid rgb(207, 207, 207);
	box-shadow: 0rem 0.1rem 0.5rem rgb(204, 203, 203);
}

.wide {
	width: 100%;
}
button.buttonRound {
	border-radius: 100%;
}

section {
	width: 100%;
}

input {
	border-radius: 12px;
	border: 3px solid var(--grey-color);
	padding: 0.25rem 0.25rem 0.25rem 0.5rem;
}

a,
a:visited {
	text-decoration: none;
	color: var(--text-color);
}

ul {
	list-style: none;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
main {
	margin-top: 9rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 5rem;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	margin: 1rem;
	width: calc(100vw - 2rem);
	max-width: 1024px;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
}

.card {
	border-radius: 0.5rem;
	overflow: hidden;
	box-shadow: 0rem 0rem 0.75rem 0.2rem rgba(0, 0, 0, 0.185);
}

.wide {
	width: 100%;
}
a {
	color: blue;
}

@media (min-width: 1025px) {
	.container {
		width: calc(100vw - 12rem);
		max-width: 1550px;
	}
}
