.basketItemContainer {
	height: fit-content;
	width: 100%;
	height: 6rem;
	margin: 0;
	padding: 0;
	border-radius: 0;
	overflow: hidden;
	box-shadow: 0rem 0rem 0.75rem 0.2rem rgba(0, 0, 0, 0.185);
}

.selection {
	padding: 0.25rem;
	margin: 0.25rem 0;
	width: 100%;
}

.imgAndText {
	display: flex;
	/* gap: 0.5rem; */
	height: 100%;
	width: 100%;
	justify-content: flex-start;
}

.pickup {
	margin-bottom: 0;
}

.text {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
	padding-left: 0.5rem;
	width: 100%;
}

.productImg {
	width: 6rem;
	height: 6rem;
	object-fit: cover;
	/* object-fit: contain;
	height: 100%; */
}

.thumbnail {
	height: 100%;
}

.subtitle {
	text-align: left;
}

.priceAndQty {
	display: flex;
	gap: 0.5rem;
	justify-content: start;
}

.basketQty {
	display: flex;
	gap: 0.5rem;
}

.basketBtns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	height: fit-content;
	margin-bottom: 0.25rem;
}

.qtyBtns {
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	border: 1px solid var(--grey-color);
	border-radius: 10rem;
	/* box-shadow: 0rem 0.5rem 0.7rem rgba(0, 0, 0, 0.182); */
	flex-grow: 0;
	height: fit-content;
	align-self: center;
	overflow: hidden;
	height: 1.75rem;
	margin-right: 0.5rem;
}

.qtyBtn {
	width: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	border-radius: 0;
	height: auto;
}

.qtyNumber {
	width: 1.75rem;
	font-size: 1.5rem;
	font-weight: 500;
}

.trashItem {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	padding-top: 0rem;
	padding-left: 0rem;
	padding-bottom: 0;
	margin: 0;
	color: black;
	box-shadow: none;
	border: none;
}
