.sliderContainer {
	display: flex;
	overflow: hidden;
}

.sliderImg {
	padding: 0;
	margin: 0;
	width: 100%;
	box-shadow: 0rem 0.7rem 1.5rem rgb(154, 154, 154);
	box-sizing: border-box;
	object-fit: cover;
}
