.productContainer {
	width: 100%;
}

.title {
	text-align: left;
	margin-bottom: 0rem;
	width: fit-content;
}

.priceContainer {
	display: flex;
	gap: 1rem;
	padding-right: 1rem;
	overflow: hidden;
}

.stars {
	list-style: none;
	padding: 0;
	display: flex;
	gap: 2px;
}

/* .star {
	color: var(--main-color);
	height: 100%;
} */

.price {
	/* align-self: flex-end; */
	padding: 0;
	font-size: 1.5rem;
}

.unitAndReview {
	padding: 0;
}
