.sellerLinkContainer {
	display: flex;
	gap: 1.2rem;
	width: 100%;
	padding-right: 5px;
	align-items: center;
	border-radius: 0.5rem;
	overflow: hidden;
	box-shadow: 0rem 0rem 0.75rem 0.2rem rgba(0, 0, 0, 0.185);
}

.sellerImg {
	width: 25vw;
	max-width: 10rem;
	height: 25vw;
	max-height: 10rem;
	object-fit: cover;
}

.sellerText {
	display: flex;
	flex-direction: column;
	gap: 0rem;
}

.sellerTitle {
	font-size: 1.2rem;
}

.sellerSubtitle {
	font-size: 1rem;
	font-weight: 400;
	text-align: left;
}

.reviewStarsContainer {
	display: flex;
	list-style: none;
	gap: 2px;
	margin: 0;
	padding: 0;
	padding-top: 0.5rem;
}
